<div class="container-fluid pb-3 d-none d-md-block">
    <div class="row">
        <div class="col-12" style="margin-top: 3vh;">
            <img src="assets/images/logo.svg" style="height: 8vh;" alt="">
        </div>
    </div>
    <div class="row justify-content-between ">
        <div class="col-5 p" style="margin-top: 8vh;">
            <span class="text-secondary">Keep an eye out for a cool, waddling surprise!</span>
            <h1 class="text-gold fw-bold">A sleek Pengwyn</h1>
            <h1 class="text-gold fw-bold">BINC website is on</h1>
            <h1 class="text-gold fw-bold">the horizon!</h1>
        </div>
        <div class="col-4 position-relative"
            style="background-color: #1E1E1E; border-radius: 2vh; margin-top: 10vh; padding: 2vw;">
            <h2 class="text-gold">Get in touch with us!</h2>
            <span class="text-secondary">Connect with us on our social media accounts</span>
            <div class="d-flex" style="margin-top: 4vh;">
                <img src="assets/images/discode-icon.svg" style="height: 4vw; margin-right: 2vh;" alt="">
                <img src="assets/images/twitter-icon.svg" style="height: 4vw;" alt="">
            </div>
            <img src="assets/images/pengwyn-logo.svg" style="bottom: 0; right: 0; height: 8vw;"
                class="position-absolute" alt="">
        </div>
    </div>

    <div class="row justify-content-between">
        <div class="col-4 text-white position-relative" style="margin-top: 15vh;">
            <span style="font-size: 2.5vh;">We have teamed up with <span class="text-gold">Design House</span> and <br /><span
                    class="text-gold">FRĀMD</span> to create an innovative, top-notch <br />design.</span>
            <img src="assets/images/line-img.svg" style="top: -1vh; left: 0; height: 7vh;" class="position-absolute"
                alt="">
        </div>
        <div class="col-3 position-relative"
            style="border: 1px solid #F4BB03; border-radius: 2vh; margin-top: 15vh; padding: 1vw;">
            <span class="text-white">🐧 In need of web design services?</span>
            <span class="text-white" style="margin-left: 1.6vw;">Contact the FRĀMD team!</span>
            <img src="assets/images/info-icon.svg" style="height: 1.5vw;
                top: -5vh;
                right: 2vh;" class="position-absolute" alt="">
        </div>
    </div>
    <hr style="border: 1px solid grey; margin-top: 12vh;">
    <div class="row justify-content-between">
        <div class="col-6">
            <span class="text-secondary">© 2023 Pengwyn, All rights reserved.</span>
        </div>
        <div class="col-6 text-end text-secondary">
            <span class="pointer">Privacy Policy </span><span> •</span> <span class="pointer "> Terms & Conditions</span>
        </div>
    </div>
</div>

<div class="row d-block d-md-none my-3">
    <div class="row">
        <div class="col-12" style="margin-top: 1vh;">
            <img src="assets/images/logo.svg" width="100%" style="height: 10vh;" alt="">
        </div>
    </div>
    <div class="row justify-content-center mx-auto p-3">
        <div class="col-12" style="margin-top: 2vw;">
            <span class="text-secondary" style="margin-top: 5vw;">Keep an eye out for a cool, waddling surprise!</span>
            <h1 class="text-gold fw-bold w-100" style="font-size: 40px !important;">A sleek Pengwyn</h1>
            <h1 class="text-gold fw-bold" style="font-size: 40px !important;">BINC website is on</h1>
            <h1 class="text-gold fw-bold" style="font-size: 40px !important;">the horizon!</h1>
        </div>
    <br />    <br />
    <div class="col-12 mx-auto position-relative"
            style="background-color: #1E1E1E; border-radius: 2vh; margin-top: 10vw !important; padding: 2vw;">
            <h2 class="text-gold">Get in touch with us!</h2>
            <span class="text-secondary">Connect with us on our social media accounts</span>
            <div class="d-flex" style="margin-top: 2vh;">
                <img src="assets/images/discode-icon.svg" style="height: 12vw; margin-right: 1vh;" alt="">
                <img src="assets/images/twitter-icon.svg" style="height: 12vw;" alt="">
            </div>
            <img src="assets/images/pengwyn-logo.svg" style="bottom: 0; right: 0; height: 8vw;"
                class="position-absolute" alt="">
    </div>
 
    <div class="row justify-content-center mx-auto" style="margin-top: 10vw">
        <div class="col-12 text-white position-relative" style="margin-top: 10px;">
            <span style="font-size: 2.5vh;">We have teamed up with <span class="text-gold">Design House</span> and <span
                    class="text-gold"><a href="https://www,framd.art" class="text-gold">FRĀMD</a></span> to create an innovative, top-notch design.</span>
            <img src="assets/images/line-img.svg" style="top: -1vh; left: 0; height: 7vh;" class="position-absolute"
                alt="">
        </div>
    </div>

    <div class="row justify-content-center mx-auto" style="margin-top: 10vw"> 
        <div class="col-12 position-relative"
            style="border: 1px solid #F4BB03; border-radius: 2vh; margin-top: 3px; padding: 1vw;">
            <span class="text-white" style="font-size: 2.5vh;">🐧 In need of web design services?</span>
            <span class="text-white" style="margin-left: 1.6vw; font-size: 2.5vh;"><a href = "mailto: hello@framd.art" class="text-gold">Contact the FRĀMD team!</a></span>
            <img src="assets/images/info-icon.svg" style="height: 1.5vw;
                top: -5vh;
                right: 2vh;" class="position-absolute" alt="">
        </div>
    </div>
    <hr style="border: 1px solid grey; margin-top: 12vh;">
    <div class="row justify-content-between">
        <div class="col-12">
            <span style="font-size: 1.5vh;" class="text-secondary">© 2023 Pengwyn, All rights reserved.</span>
        </div>
    </div>
</div>

